<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>myWorkation</title>
  </head>
  <body>
    <header>
      <h1>Places</h1>
    </header>
    <div class="wrap">
      <div class="input">
        <p>{{.err}}</p>
        <form action="/new" method="post">
          <p>場所 :<input type="text" name="content" size="30" placeholder="場所"/></p>
          <p><input type="submit" value="作成" /></p>
        </form>
      </div>
      <div class="">
        <ul>
          {{range.places}}
            <li>
              {{.Content}}
              <label><a href="/edit/{{.ID}}">編集</a></label>
              <label><a href="/delete_confirm/{{.ID}}">削除</a></label>
            </li>
          {{end}}
        </ul>
      </div>
    </div>
  </body>
</html>
